# {{title}}

{{#if logo}}
logo
{{/if}}

{{{shield "license" slug}}} {{#if pkg.funding}}{{{shield "sponsor" pkg.name pkg.funding}}}{{/if}}  
{{#if config.githubActions}}{{{shield "actions" slug}}}{{/if}} {{{shield "commitsSince" slug tag}}} {{{shield "lastCommit" slug}}} {{{shield "issues" slug}}}  
{{#if installationCommands.length}}
{{{shield "npmLatest" pkg.name}}} {{{shield "dependents" pkg.name slug}}} {{{shield "npmDownloads" pkg.name}}}
{{/if}}

{{#if description}}
**{{{description}}}**
{{/if}}

{{#if config.personal}}
#### Opinionated

This project is tailored to my personal needs and workflows and therefore highly opinionated. Feel free to use it or get inspired by it, but please do not get frustrated if you come across weird features or difficulties integrating it in your own ecosystem.
{{/if}}

{{{fragments.description}}}

{{#if config.link}}
##### View online at [{{{config.linkName}}}]({{{config.link}}}).
{{/if}}

{{#if installationCommands.length}}
## Installation
{{#each installationCommands}}

{{{shield header headerArgument}}}{{#if bonusText}}  
{{{bonusText}}}{{/if}}

```bash
{{command}}
```
{{/each}}
{{#if worksAsScriptTag}}
{{{shield "jsdelivr" pkg.name}}} {{{shield "unpkg" pkg.name}}}
```html
<script src="https://cdn.jsdelivr.net/npm/{{{pkg.name}}}@{{{pkg.version}}}/index.js" />
```
{{/if}}
{{/if}}

{{{fragments.warning}}}

{{#if hasExampleSection}}
## Example

{{{fragments.example}}}
{{#if example}}
```javascript
{{{example}}}
```
{{/if}}

{{#each exampleResults}}
{{#if config.exampleResultMayVary}}
Variable `{{{@key}}}` will be something like:
{{else}}
Variable `{{{@key}}}` will be:
{{/if}}

```javascript
{{{this}}}
```
{{/each}}
{{else}}
{{{fragments.example}}}
{{/if}}
{{{fragments.result}}}

{{{fragments.usage}}}

{{{fragments.advancedUsage}}}

{{#if hasOptionsSection}}
## Options

{{{fragments.options}}}

{{#if hasUsageOptions}}
<table>
<tr>
<th></th>
{{#if usageOptions.anyEntryHasRequired}}
<th></th>
{{/if}}
{{#if usageOptions.anyEntryHasType}}
<th>Type</th>
{{/if}}
{{#if usageOptions.anyEntryHasDefault}}
<th>Default</th>
{{/if}}
{{#if usageOptions.anyEntryHasInfo}}
<th>Info</th>
{{/if}}
</tr>
{{#each usageOptions.entries}}
<tr>
<td>{{{name}}}</td>
{{#if ../usageOptions.anyEntryHasRequired}}
<td>{{#if required}}*{{/if}}</td>
{{/if}}
{{#if ../usageOptions.anyEntryHasType}}
<td>{{{type}}}</td>
{{/if}}
{{#if ../usageOptions.anyEntryHasDefault}}
<td>{{{default}}}</td>
{{/if}}
{{#if ../usageOptions.anyEntryHasInfo}}
<td>{{{info}}}</td>
{{/if}}
</tr>
{{/each}}
</table>
{{/if}}
{{/if}}

{{#if config.tryInBrowser}}
## Try it out

{{{shield "web" pkg.name}}}

Open a browser's JavaScript console and execute:

```javascript
const scriptElement = document.createElement("script");
scriptElement.setAttribute("type", "text/javascript");
scriptElement.setAttribute("src", "https://cdn.jsdelivr.net/npm/{{pkg.name}}@{{pkg.version}}/index.js");
document.querySelector("head").appendChild(scriptElement);
```

{{{title}}} is now stored in the global variable `{{{globalName}}}`. The following console expression should return something other than `"undefined"`.

```javascript
typeof {{globalName}}.default
```
{{/if}}

{{{apiMarkdown}}}
{{#if binName}}
## CLI Usage
After installing package `{{{pkg.name}}}` globally, you can use its command line interface.
```bash
{{{binExample}}}
```
For usage instructions:
```bash
{{{binName}}} --help
```
{{/if}}

{{#if hasEnvironmentVariables}}
## Environment Variables

Following environment variables are read by {{{title}}}:

Name|Description
---|---
{{#each config.environmentVariables}}
{{{@key}}}|{{{this}}}
{{/each}}
{{/if}}

{{{fragments.related}}}

{{{fragments.faq}}}

{{{fragments.legal}}}

{{#if hasDevelopmentSection}}
## Development

{{{fragments.development}}}

{{#each developmentScripts}}
{{{name}}}
```bash
{{{script}}}
```
{{/each}}

{{/if}}

{{#if license}}
## License
{{#if isMitLicense}}
[MIT License](https://raw.githubusercontent.com/{{{slug}}}/master/license.txt)  
{{{escapeMarkdown license}}}
{{else}}
```text
{{{license}}}
```
{{/if}}
{{/if}}